.footer {
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    padding: 59px 105px 52px;
}

.footer h4 {
    color: #222;
    font-family: Red Hat Display, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px; /* 120% */
}

.footer ul {
    list-style: none;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footerLeftBlock {
    width: 326px;
}

.footerLeftBlock p{
    margin-top: 38px;
    color: #555;
    font-family: Red Hat Display, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}

.footerMiddleBlock {
    width: 105px;
}

.footerMiddleBlock ul {
    margin-top: 39px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.footerMiddleBlock a {
    color: #222;
font-family: Red Hat Display, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 20px; /* 125% */

}

.footerRightBlock ul {
    color: #222;
font-family: Red Hat Display, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 20px; /* 125% */

}

.footerRightBlock {
    width: 183px;
}

.footerRightBlockTopLinks {
    margin-top: 39px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.footerRightBlockTopLinks a {
    color: #222;
font-family: Red Hat Display, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 20px; /* 125% */

}